<%- include("template/header.ejs") %>
    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Clientes</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Chat</a></li>
                            <li class="breadcrumb-item active">Clientes</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Tabla de clientes</h3>
                            </div>

                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Telefono</th>
                                            <th>Dirección principal</th>
                                            <th>Zona</th>
                                            <th>Link ubicacion principal</th>
                                            <th>Direcciones extra</th>
                                            <th>Observaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% clients.forEach(client=> { if(client.CliName) { %>
                                            <tr style="cursor: pointer;"
                                                onclick="editClientModalBootstrap.show();chargeClient('<%=client.CliPhone%>');chatActive='<%=client.CliPhone%>';">
                                                <td>
                                                    <%=client.CliId%>
                                                </td>
                                                <td>
                                                    <%=client.CliName%>
                                                </td>
                                                <td>
                                                    <%=client.CliPhone.split('@')[0]%>
                                                </td>
                                                <td>
                                                    <%=client.CliAddress%>
                                                </td>
                                                <td>
                                                    <%=client.CliZone%>
                                                </td>
                                                <td>
                                                    <%=client.CliLocation%>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <%-client.CliAddressExtra-%>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <%=client.CliObservation%>
                                                </td>
                                            </tr>
                                            <% }}); %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Telefono</th>
                                            <th>Dirección principal</th>
                                            <th>Zona</th>
                                            <th>Link ubicacion principal</th>
                                            <th>Direcciones extra</th>
                                            <th>Observaciones</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>
    <%- include("template/footer.ejs") %>