<%- include("template/header.ejs") %>
  <div class="content-wrapper">
    <div style="padding-top: 10px; padding-bottom: 10px" class="container-fluid">
      <div class="div-center">
        <h1>Repartidores</h1>
      </div>
      <div class="div-center mt-3">
        <div class="col-12">
          <div class="card">

            <div class="card-body">
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                  </tr>
                </thead>
                <tbody>

                  <% deliverys.forEach(delivery=> { %>
                    <tr style="cursor: pointer;" data-toggle="modal" data-target="#editModal1"
                      onclick="editDelivery('<%= delivery.DelId %>', '<%= delivery.DelName %>', '<%= delivery.DelPhone %>')">
                      <td>
                        <%=delivery.DelId%>
                      </td>
                      <td>
                        <%=delivery.DelName%>
                      </td>
                      <td>
                        <%=delivery.DelPhone.split('@')[0]%>
                      </td>
                      <% }); %>

                </tbody>
                <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="div-center mb-5 mt-3">
              <button type="button" class="btn btn-success btn-block" style="width: 250px" data-toggle="modal"
                data-target="#addModal1">
                <i class="fa fa-plus-circle"></i>
                Agregar repartidor
              </button>
            </div>
            <div class="container-fluid">
              <p>Manual de instrucción.</p>
              <ul>
                <li>Si desea agregar un numero que no es de mexico a su repartidor puede hacerlo por medio de la
                  siguientes expresiones <b>$('indicativo')telefono</b> un ejemplo de uso seria el siguiente
                  <b>$(57)3204777967</b>, lo anterior agregaria un numero colombiano a su repartidor.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("template/editModal1.ejs") %>
    <%- include("template/addModal1.ejs") %>

      <script src="/dist/js/btnActionDelivers.dev.js"></script>
      <%- include("template/footer.ejs") %>