<%- include("template/header.ejs") %>
    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Ventas</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Chat</a></li>
                            <li class="breadcrumb-item active">Ventas</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Tabla de ventas</h3>
                            </div>

                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Estado</th>
                                            <th>Repartidor</th>
                                            <th>Cliente</th>
                                            <th>Empleado</th>
                                            <th>Fecha</th>
                                            <th>Observaciones</th>
                                            <th>Tipo</th>
                                            <th>Razon de estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% sales.forEach(sale=> { %>
                                            <tr>
                                                <td>
                                                    <%=sale.SaleId%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleStatus%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleDelivery%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleClient%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleAdmin%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleDate%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleResume%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleCondition%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleReason%>
                                                </td>
                                            </tr>
                                            <% }); %>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Estado</th>
                                            <th>Repartidor</th>
                                            <th>Cliente</th>
                                            <th>Empleado</th>
                                            <th>Fecha</th>
                                            <th>Observaciones</th>
                                            <th>Tipo</th>
                                            <th>Razon de estado</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>
    <%- include("template/footer.ejs") %>