<%- include("template/header.ejs") %>
    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Ventas</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Chat</a></li>
                            <li class="breadcrumb-item active">Ventas</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Tabla de ventas</h3>
                            </div>

                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Estado</th>
                                            <th>Repartidor</th>
                                            <th>Cliente</th>
                                            <th>Empleado</th>
                                            <th>Fecha</th>
                                            <th>Nota para cocina</th>
                                            <th>Tipo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% sales.forEach(sale=> { %>
                                            <tr>
                                                <td>
                                                    <%=sale.SaleId%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleStatus%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleDelivery%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleClient%>
                                                </td>
                                                <td>
                                                    <%=sale.SaleAdmin%>
                                                </td>
                                                <td>
                                                    <%=formatFecha(sale.SaleDate)%>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <%=sale.SaleResume%>
                                                        </li>
                                                        <br>
                                                        <% if(sale.SaleReason!=null){ %>
                                                            <li>
                                                                Razon de cancelación: <%=sale.SaleReason%>
                                                            </li>
                                                            <% }%>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <%=sale.SaleCondition%>
                                                </td>
                                            </tr>
                                            <% }); %>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Estado</th>
                                            <th>Repartidor</th>
                                            <th>Cliente</th>
                                            <th>Empleado</th>
                                            <th>Fecha</th>
                                            <th>Observaciones</th>
                                            <th>Tipo</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>
    <%- include("template/footer.ejs") %>
        <% function formatFecha(fechaString) { const fecha=new Date(fechaString); const año=fecha.getFullYear(); const
            mes=String(fecha.getMonth() + 1).padStart(2, '0' ); const dia=String(fecha.getDate()).padStart(2, '0' );
            const horas=String(fecha.getHours() % 12 || 12).padStart(2, '0' ); const
            minutos=String(fecha.getMinutes()).padStart(2, '0' ); const ampm=fecha.getHours()>= 12 ? 'pm' : 'am';

            return `${año}-${mes}-${dia} ${horas}:${minutos} ${ampm}`;
            }
            %>