<%- include("template/header.ejs") %>
    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Chats</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Chat</a></li>
                            <li class="breadcrumb-item active">Chats</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Tabla de chats (no verificados)/(verificados)</h3>
                            </div>

                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Id Cliente</th>
                                            <th>Usuario</th>
                                            <th>Fecha</th>
                                            <th>Raz칩n</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% temps.forEach(temp=> { if(temp.TempStatus==0){%>
                                            <tr>
                                                <td>
                                                    <%=temp.TempId%>
                                                </td>
                                                <td>
                                                    <%=temp.TempIdClient%>
                                                </td>
                                                <td>
                                                    <%=(temp.TempClient.split("@")[0])%>
                                                </td>
                                                <td>
                                                    <%=formatFecha(temp.TempDate)%>
                                                </td>
                                                <td>
                                                    <%=temp.TempReason%>
                                                </td>
                                            </tr>
                                            <% }}); %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Id Cliente</th>
                                            <th>Usuario</th>
                                            <th>Fecha</th>
                                            <th>Raz칩n</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>
    <%- include("template/footer.ejs") %>
        <% function formatFecha(fechaString) { const fecha=new Date(fechaString); const a침o=fecha.getFullYear(); const
            mes=String(fecha.getMonth() + 1).padStart(2, '0' ); const dia=String(fecha.getDate()).padStart(2, '0' );
            const horas=String(fecha.getHours() % 12 || 12).padStart(2, '0' ); const
            minutos=String(fecha.getMinutes()).padStart(2, '0' ); const ampm=fecha.getHours()>= 12 ? 'pm' : 'am';

            return `${a침o}-${mes}-${dia} ${horas}:${minutos} ${ampm}`;
            }
            %>